@page
@model RDCELERP.Core.App.Pages.LGC_Admin.TicketGenrateModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    RDCELERP.Model.Base.AccessRuleViewModel accessRule = (RDCELERP.Model.Base.AccessRuleViewModel)ViewBag.AccessRule;
    var URLPrefixforProd = ViewData["URLPrefixforProd"];
    var UserId = ViewData["LoggedInUserId"];
}
@if (ViewData["UserAuth"] != null)
{
    <script type="text/javascript">
  alert("@ViewData["UserAuth"]");
    </script>
}

<div class="row">
    <input type="hidden" asp-for="ListNA" id="hdnListNA" />
    <input type="hidden" id="hdnUserId" value="@UserId"/>
    <div class="col-md-6" id="AllocateEVCbtn">
        <form method="post" id="exportForm">
            <input type="hidden" asp-for="MyIds" id="hdnExchangeorderIds" />
            <button id="exportbtn" type="submit" asp-page-handler="Export" class="btn btn-primary mb-4" disabled="disabled">Generate ticket</button>
        </form>
    </div>
    <div class="col-md-12">
        <div class="row align-items-center">
            <div class="col">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active shadow" id="nav-home-tab1" data-bs-toggle="tab"
                           href="#OpenDatatable" role="tab" aria-controls="nav-home1" aria-selected="true">
                            New Ticket
                        </a>
                        <a class="nav-item nav-link shadow" id="nav-home-tab2" data-bs-toggle="tab"
                           href="#IsPregressDatatable" role="tab" aria-controls="nav-home" aria-selected="true">
                            Re-Open Ticket
                        </a>
                        <a class="nav-item nav-link shadow" id="nav-home-tab3" data-bs-toggle="tab"
                           href="#RescheduleDatatable" role="tab" aria-controls="nav-home" aria-selected="true">
                            Pickup-Reschedule Ticket
                        </a>
                        <a class="nav-item nav-link shadow" id="nav-home-tab4" data-bs-toggle="tab"
                           href="#CancelTicketByUTCTable" role="tab" aria-controls="nav-home" aria-selected="true">
                            Change LGC Partner
                        </a>

                    </div>
                </nav>
            </div>
            <!--<div class="col">
                <div class="row datefilter">
                    <div class="col-md-12 text-right datefilter-right">
                        <input type="text" class="form-control d-inline mb-2" id="startdate" placeholder="Start Date" autocomplete="off">
                        <input type="text" class="form-control d-inline mb-2" id="enddate" placeholder="End Date" autocomplete="off">-->
            @*<input type="submit" class="d-inline btn btn-primary" value="Submit">*@
            <!--<button id="filter-dates" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0 shadow noborderradius">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <!-- Tab -->
                                <div class="tab-content" id="nav-tabContent">

                                    <div class="tab-pane fade show active" id="OpenDatatable" role="tabpanel"
                                         aria-labelledby="nav-home-tab1">
                                        <table id="NewTicketDatatable"
                                               class="table table-striped dt-responsive mainshadow NewTicketDatatable" width="100%"
                                               border="0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th class="all notexport">Order Trans Id</th>
                                                    <th class="all notexport">
                                                        <input type='checkbox' class='select_all' />
                                                        @*<label for="select_all"> 
                                                        Select All</label>*@
                                                    </th>
                                                    <th class="all">Status Code</th>
                                                    <th class="all">Order Regd No</th>
                                                    <th class="all">EVC Regd No</th>
                                                    <th class="all">EVC Partner Code</th>
                                                    <th class="all">Pickup Schedule Date</th>
                                                    <th class="all">Pickup Schedule Time</th>
                                                    <th class="all">First Name</th>
                                                    <th class="all">Last Name</th>
                                                    <th class="all">Order Amount</th>
                                                    <th class="all">EVC Amount</th>
                                                    <th class="all">Customer City</th>
                                                    <th class="all">Prod Category</th>
                                                    <th class="all">Prod Type</th>
                                                    <th class="all">Pincode</th>
                                                    <th class="all">Prime Product</th>
                                                    <th class="all">Assign Date</th>
                                                    <th class="all">EVC Wallet Amount </th>
                                                    <th class="all">Clear Balance</th>
                                                    <th class="all notexport">Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>

                                    <div class="tab-pane fade show" id="IsPregressDatatable" role="tabpanel"
                                         aria-labelledby="nav-home-tab">
                                        <table id="ReOpenTicketDatatable"
                                               class="table table-striped dt-responsive mainshadow" width="100%"
                                               border="0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th class="all notexport">Order Trans Id</th>
                                                    <th class="all notexport">
                                                        <input type='checkbox' class='select_all' />
                                                    </th>
                                                    @* <th class="all notexport">Select</th> *@
                                                    <th class="all">Status Code</th>
                                                    <th class="all">Order Regd No</th>
                                                    <th class="all">EVC Regd No</th>  
                                                    <th class="all">EVC Partner Code</th>
                                                    <th class="all">First Name</th>
                                                    <th class="all">Last Name</th>
                                                    <th class="all">Order Amount</th>
                                                    <th class="all">EVC Amount</th>
                                                    <th class="all">Customer City</th>
                                                    <th class="all">Prod Category</th>
                                                    <th class="all">Prod Type</th>
                                                    <th class="all">Pincode</th>
                                                    <th class="all">Prime Product</th>
                                                    <th class="all">Assign Date</th>
                                                    <th class="all">EVC Wallet Amount </th>
                                                    <th class="all">Clear Balance</th>
                                                    <th class="all notexport">Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>

                                    <div class="tab-pane fade show" id="RescheduleDatatable" role="tabpanel"
                                         aria-labelledby="nav-home-tab">
                                        <table id="RescheduleTicketDatatable"
                                               class="table table-striped dt-responsive mainshadow" width="100%"
                                               border="0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th class="all notexport">Order Trans Id</th>
                                                    <th class="all notexport">
                                                        <input type='checkbox' class='select_all' />
                                                    </th>
                                                    @* <th class="all notexport">Select</th> *@
                                                    <th class="all">Status Code</th>
                                                    <th class="all">Reschedule Date</th>
                                                    <th class="all">Reschedule time</th>
                                                    <th class="all">Order Regd No</th>
                                                    <th class="all">EVC Regd No</th>
                                                    <th class="all">EVC Partner Code</th>
                                                    <th class="all">First Name</th>
                                                    <th class="all">Last Name</th>
                                                    <th class="all">Customer City</th>
                                                    <th class="all">Pincode</th>
                                                    <th class="all">Prod Category</th>
                                                    <th class="all">Prod Type</th>
                                                    <th class="all">EVC Wallet Amount </th>
                                                    <th class="all">Clear Balance</th>
                                                    <th class="all notexport">Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade show" id="CancelTicketByUTCTable" role="tabpanel"
                                         aria-labelledby="nav-home-tab">
                                        <table id="CancelTicketByUTCDatatabale"
                                               class="table table-striped dt-responsive mainshadow" width="100%"
                                               border="0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th class="all notexport">Order Trans Id</th>
                                                    <th class="all notexport">
                                                        <input type='checkbox' class='select_all' />
                                                    </th>
                                                    @* <th class="all notexport">Select</th> *@
                                                    <th class="all">Status Code</th>
                                                    <th class="all">Order Regd No</th>
                                                    <th class="all">EVC Regd No</th>
                                                    <th class="all">EVC Partner Code</th>
                                                    <th class="all">Pickup Schedule Date</th>
                                                    <th class="all">Pickup Schedule Time</th>
                                                    <th class="all">First Name</th>
                                                    <th class="all">Last Name</th>
                                                    <th class="all">Customer City</th>
                                                    <th class="all">Pincode</th>
                                                    <th class="all">Prod Category</th>
                                                    <th class="all">Prod Type</th>
                                                    <th class="all">EVC Wallet Amount </th>
                                                    <th class="all">Clear Balance</th>
                                                    <th class="all notexport">Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <!-- End of tab -->
                                @*List Page Common Filters Code VK 19-May*@
                                <div class="filters">
                                    <div class="p-4">
                                        <h4 class="">Filters</h4>
                                        @* Order Date Range Filter *@
                                        <p class="filterheading">
                                            <input type="checkbox" name="" id="chkOrderDateRange">
                                            <label for="chkOrderDateRange">Order Date Range</label>
                                        </p>
                                        <div class="filterbox">
                                            <input type="text" class="form-control d-inline mb-2" id="orderStartDate" readonly placeholder="Start Date" autocomplete="off">
                                            <input type="text" class="form-control d-inline mb-2" id="orderEndDate" readonly placeholder="End Date" autocomplete="off">
                                        </div>
                                        <div class="filter-seprator"></div>

                                        @* Company Filter *@
                                        <p class="filterheading">
                                            <input type="checkbox" name="" id="chkcompanyName">
                                            <label for="chkcompanyName">Company Name</label>
                                        </p>
                                        <div class="filterbox">
                                            <input type="text" class="form-control d-inline" id="companyName" placeholder="Search Company Name">
                                        </div>
                                        <div class="filter-seprator"></div>

                                        @* Product Group Filter *@
                                        <p class="filterheading">
                                            <input type="checkbox" name="" id="chkProductCategory">
                                            <label for="chkProductCategory">Product Group</label>
                                        </p>
                                        <div class="filterbox">
                                            <select asp-for="searchFilterVM.ProductCatId" id="ddlprodcatid" class="form-control d-inline" asp-items="ViewBag.ProductGroup">
                                                <option value='0'>--Product Cat--</option>
                                            </select>
                                            <span asp-validation-for="searchFilterVM.ProductCatId" class="text-danger"></span>
                                        </div>
                                        <div class="filter-seprator"></div>

                                        <p class="filterheading">
                                            <input type="checkbox" name="" id="chkProductType">
                                            <label for="chkProductType">Product Type</label>
                                        </p>
                                        <div class="filterbox">
                                            <select asp-for="searchFilterVM.ProductTypeId" id="ddlprodcattypeid" class="form-control d-inline" asp-items="ViewBag.productTypeList">
                                                <option value='0'>--Product Type--</option>
                                            </select>
                                            <span asp-validation-for="searchFilterVM.ProductTypeId" class="text-danger"></span>
                                        </div>
                                        <div class="filter-seprator"></div>

                                        @* Regd No Filter *@
                                        <p class="filterheading">
                                            <input type="checkbox" name="" id="chkregdNo">
                                            <label for="chkregdNo">Regd No</label>
                                        </p>
                                        <div class="filterbox">
                                            @*<input type="text" class="form-control d-inline" id="regdNo" placeholder="Search RegdNo">*@
                                            <input type="text" class="form-control d-inline" id="regdNo" placeholder="Search RegdNo">
                                        </div>
                                        <div class="filter-seprator"></div>

                                        @* Phone Number Filter *@
                                        <p class="filterheading">
                                            <input type="checkbox" name="" id="chkPhoneNo">
                                            <label for="chkPhoneNo">Phone Number</label>
                                        </p>
                                        <div class="filterbox">
                                            <input type="text" class="form-control d-inline" id="phoneNo" placeholder="Search Phone Number">
                                        </div>
                                        <div class="filter-seprator"></div>

                                        @* Cust City Filter *@
                                        <p class="filterheading"><input type="checkbox" name="" id="chkCustCity"><label for="chkCustCity">Customer City</label></p>
                                        <div class="filterbox">
                                            <input type="text" class="form-control d-inline" id="custCity" placeholder="Search City">
                                        </div>
                                        <div class="filter-seprator"></div>

                                        @*Created By Me Filter *@
                                        <p class="filterheading"><input type="checkbox" name="" id="chkCreatedByMe"><label for="chkCreatedByMe">Created by Me</label></p>
                                        <div class="filter-seprator"></div>

                                        @* EVCRegd No Filter *@
                                        <p class="filterheading">
                                            <input type="checkbox" name="" id="chkevcregdNo">
                                            <label for="chkevcregdNo">EVC Regd No</label>
                                        </p>
                                        <div class="filterbox">
                                            @*<input type="text" class="form-control d-inline" id="regdNo" placeholder="Search RegdNo">*@
                                            <input type="text" class="form-control d-inline" id="evcregdNo" placeholder="Search EVCRegdNo">
                                        </div>
                                        <div class="filter-seprator"></div>

                                        @* EVCStoreCode No Filter *@
                                        <p class="filterheading">
                                            <input type="checkbox" name="" id="chkevcstoreCode">
                                            <label for="chkevcstoreCode">EVC Partner Code</label>
                                        </p>
                                        <div class="filterbox">
                                            <input type="text" class="form-control d-inline" id="evcstoreCode" placeholder="Search EVC Partner Code">

                                        </div>

                                        @* Submit Filter *@
                                        <div class="filterbtnwrap">
                                            <a id="btnFilter" class="btn btn-primary">Filter</a>
                                            <a id="btnCloseFilter" class="btn btn-sm btn-secondary py-2">Clear</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/NewLayout/assets/js/jquery.dataTables.min.js"></script>
<script src="~/NewLayout/vendor/jquery-ui/jquery-ui.js"></script>
<script src="~/NewLayout/assets/js/exportTable.js"></script>

<script type="text/javascript">
        var table = null;
    $(document).ready(function () {
        //Date Picker
        $("#orderStartDate").datepicker({
            defaultDate: null,
            onSelect: function (selectedDate) {
                $("#orderEndDate").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#orderEndDate").datepicker({
            defaultDate: null,
        });
        DataTableFunc();
        $('.filters').hide();
    });



    $("#exportbtn").click(function (event) {
        $('#loader').show();
        var searchIDs = "";
        $("#hdnExchangeorderIds").val("");
        $('.checkboxinput').each(function () {
            if (this.checked) {
                searchIDs += this.value + ",";
            }
        });
        searchIDs = searchIDs.replace(/,\s*$/, "");
        $("#hdnExchangeorderIds").val(searchIDs);
        $("#exportForm").submit();
    });

    //Added by VK
    //var counter = 0;
    $('.select_all').on('click', function () {
        var counter = 0;
        $('.checkboxinput').each(function () {
            if (this.checked) {
                this.checked = false;
            }
        });

        document.querySelectorAll(".select_all").forEach(item => {
            if (item != this) {
                item.checked = false;
            }
        });

        var parentTable = $(this).closest('.dataTables_wrapper').attr('id');
        if (this.checked) {
            $('#' + parentTable + ' .checkboxinput').each(function () {
                if (counter < 10) {
                    this.checked = true;
                    counter++;
                }
            });
        } else {
            $('#' + parentTable + ' .checkboxinput').each(function () {
                this.checked = false;
                counter-1;
            });
        }
        OnCheckBoxCheck();
    });
    //new
    function OnCheckBoxCheck() {
        counter = 0;
        $('.checkboxinput').each(function () {
            if (this.checked) {
                counter++;
            }
            else {
                counter-1;
            }
            if (counter > 10) {
                alert("You can only select up to 10 Orders.");
                $(this).prop('checked', false);
                return false; // Prevent further action
            }
        });
        var flag = counter > 0;
        if (flag) {
            $('#exportbtn').prop('disabled', false);
        } else {
            $('#exportbtn').prop('disabled', true);
        }
    }

    function BtnDisableOnAction(){
        $('#exportbtn').prop('disabled', true);
    }
        //All Data Export--
    function newexportaction(e, dt, button, config) {
            var self = this;
            var oldStart = dt.settings()[0]._iDisplayStart;
            dt.one('preXhr', function (e, s, data) {
                // Just this once, load all data from the server...
                data.start = 0;
                data.length = 2147483647;
                dt.one('preDraw', function (e, settings) {
                    // Call the original action function
                    if (button[0].className.indexOf('buttons-copy') >= 0) {
                        $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                        $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                    }
                    dt.one('preXhr', function (e, s, data) {
                        // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                        // Set the property to what it was before exporting.
                        settings._iDisplayStart = oldStart;
                        data.start = oldStart;
                    });
                    // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                    setTimeout(dt.ajax.reload, 0);
                    // Prevent rendering of the full data to the DOM
                    return false;
                });
            });
            // Requery the server with the new one-time export settings
            dt.ajax.reload();
        BtnDisableOnAction();
        };
        //For Export Buttons available inside jquery-datatable "server side processing" - End
    function ReassignOrder(Id) {
        $('#loader').show();
        window.location.href = '@ViewData["URLPrefixforProd"]/EVC_Allocation/ReassignFrom?OId=' + Id;
    }
    //Approved EVC
    function GenrateCreditRequest(id) {
        var Id = id;
        Swal.fire({
            title: "Are you sure?",
            text: "You want to Genrate Credit Request!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ok',
        }).then((result) => {
            if (result.isConfirmed) {
                $.get("@URLPrefixforProd/LGC_Admin/TicketGenrate?handler=GenrateCreditRequest&Id=" + Id).done(function (data) {
                    location.reload(true);
                });
            }
            else {
            }
        })
    }
    //Advanced Filters

    //Filter Close Button Click Event
    $('#btnCloseFilter').click(function () {
        $('#orderStartDate').val("");
        $('#orderEndDate').val("");
        $('#ddlprodcatid').val(0);
        $('#ddlprodcattypeid').empty();
        $('#ddlprodcattypeid').append("<option value='0'>--Product Type--</option>");
        $('#regdNo').val("");
        $('#phoneNo').val("");
        $('#companyName').val("");
        $('#custCity').val("");
        $('#evcregdNo').val("");
        $('#evcstoreCode').val("");
        // Unchecks it
        $('.filters input[type="checkbox"]').prop('checked', false);
        $('.filterbox').hide();
        CommonFilter();
    });
    //Check Box Date Range change Event
    $("#chkOrderDateRange").click(function () {
        if (!this.checked) {
            $('#orderStartDate').val("");
            $('#orderEndDate').val("");
        }
    });
    //Check Box Product Category change Event
    $("#chkProductCategory").click(function () {
        if (!this.checked) {
            $('#ddlprodcatid').val(0);
        }
    });
    //On Change Event for Get Product type by Product Category
    $("#ddlprodcatid").change(function () {
        $.get("@URLPrefixforProd/api/Dropdown/OnGetProductCategoryTypeAsync?productCatId=" + $(this).val()).done(function (data) {
            $("#ddlprodcattypeid").empty();
            $("#ddlprodcattypeid").append($("<option></option>").val('0').html('Select ProductType'));
            $.each(data, function (i, producttype) {
                $("#ddlprodcattypeid").append($("<option></option>").val(producttype.text).html(producttype.value));
            });
        });
    });
    //Check Box Product Type change Event
    $("#chkProductType").click(function () {
        if (!this.checked) {
            $('#ddlprodcattypeid').val(0);
        }
    });
    //Check Box Regd Number change Event
    $("#chkregdNo").click(function () {
        if (!this.checked) {
            $('#regdNo').val("");
        }
    });
    //Check Box Phone Number change Event
    $("#chkPhoneNo").click(function () {
        if (!this.checked) {
            $('#phoneNo').val("");
        }
    });
    //Check Box Brand Name change Event
    $("#chkcompanyName").click(function () {
        if (!this.checked) {
            $('#companyName').val("");
        }
    });
    //Check Box Customer City change Event
    $("#chkCustCity").click(function () {
        if (!this.checked) {
            $('#custCity').val("");
        }
    });
    //Check Box EVCRegd Number change Event
    $("#chkevcregdNo").click(function () {
        if (!this.checked) {
            $('#evcregdNo').val("");
        }
    });
    //Check Box EVCStoreCode Number change Event
    $("#chkevcstoreCode").click(function () {
        if (!this.checked) {
            $('#evcstoreCode').val("");
        }
    });

    // Follow-up list multi Search Filter
    $('#btnFilter').click(function () {
        CommonFilter();
    });

    $('#filterboxbtnright').click(function () {
        $('.filters').toggle();
    });

    function DataTableFunc(_urlData = "") {
        NewTickettable = $('#NewTicketDatatable').dataTable({
                "order": [[0, 'desc']],
                "processing": true,
                "serverSide": true,
                "filter": true,
                "scrollX": true,
                "paging": true,
                "searching": false,
                "dom": 'Bfrtlp',
                "buttons": [
                    {
                        text: '<button class="btn btn-primary datatablebtn" id="filterboxbtnright"><i class="fa-solid fa-filter"></i></button>',
                        action: function (e, dt, node, config) {
                            $('.filters').toggle();
                        }
                    },
                    {
                        extend: 'excel', text: '<div class="exportbtnwrapper"><button class="btn btn-primary" id="exportbtn"><i class="fa-solid fa-download"></i> Download Excel</button></div>', id: "exportbtn",
                        title: 'Pending Order Ticket Genreate List',
                        action: newexportaction,
                        exportOptions: {
                            modifier: {
                                // DataTables core
                                order: 'index',  // 'current', 'applied', 'index',  'original'
                                page: 'all',      // 'all',     'current'
                                search: 'none'     // 'none',    'applied', 'removed'
                            },
                            columns: ':not(.notexport)'
                        }
                    }
                ],
                "oLanguage": {
                    "sEmptyTable": "No Record found"
                },
                "ajax": {
                    "url": "@URLPrefixforProd/api/LGCList/GetAssignOrderListforTicketGenretion?TableNo=1&companyId=@ViewBag.CompanyId" + _urlData,
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "responsive": true,
                "columns": [
                    { "data": "orderTransId", "name": "OrderTransId", "autoWidth": true, "orderable": false },
                    { "data": "edit", "name": "Edit", "autoWidth": true, "orderable": false },
                    { "data": "statusCode", "name": "StatusCode", "autoWidth": true, "orderable": false },
                    { "data": "regdNo", "name": "RegdNo", "autoWidth": true, "orderable": false },
                    { "data": "evcRegNo", "name": "EvcRegNo", "autoWidth": true, "orderable": true },
                    { "data": "evcStoreCode", "name": "EvcStoreCode", "autoWidth": true, "orderable": true },
                    { "data": "pickupScheduleDate", "name": "PickupScheduleDate", "autoWidth": true, "orderable": true },
                    { "data": "pickupScheduletime", "name": "PickupScheduletime", "autoWidth": true, "orderable": true },
                    { "data": "firstName", "name": "FirstName", "autoWidth": true, "orderable": true },
                    { "data": "lastName", "name": "LastName", "autoWidth": true, "orderable": true },
                    { "data": "finalExchangePrice", "name": "FinalExchangePrice", "autoWidth": true, "orderable": true },
                    { "data": "evcRate", "name": "EvcRate", "autoWidth": true, "orderable": true },
                    { "data": "custCity", "name": "CustCity", "autoWidth": true, "orderable": true },
                    { "data": "exchProdGroup", "name": "ExchProdGroup", "autoWidth": true, "orderable": true },
                    { "data": "oldProdType", "name": "OldProdType ", "autoWidth": true, "orderable": true },
                    { "data": "custPin", "name": "CustPin", "autoWidth": true, "orderable": true },
                    { "data": "isPrimeProductId", "name": "IsPrimeProductId", "autoWidth": true, "orderable": true },
                    { "data": "date", "name": "Date", "autoWidth": true, "orderable": true },
                    { "data": "evcWalletAmount", "name": "EvcWalletAmount", "autoWidth": true, "orderable": true },
                    { "data": "clearBalance", "name": "clearBalance", "autoWidth": true, "orderable": true },
                    { "data": "action", "name": "Action", "autoWidth": true, "orderable": false },
               // { "data": "edit", "name": "Edit", "autoWidth": true, "orderable": false },

                ]
        });
        ReOpentable = $('#ReOpenTicketDatatable').dataTable({
                "order": [[0, 'desc']],
                "processing": true,
                "serverSide": true,
                "filter": true,
                "scrollX": true,
                "paging": true,
                "searching": false,
                "dom": 'Bfrtlp',
                "buttons": [
                    {
                        text: '<button class="btn btn-primary datatablebtn" id="filterboxbtnright"><i class="fa-solid fa-filter"></i></button>',
                        action: function (e, dt, node, config) {
                            $('.filters').toggle();
                        }
                    },
                    {
                        extend: 'excel', text: '<div class="exportbtnwrapper"><button class="btn btn-primary" id="exportbtn"><i class="fa-solid fa-download"></i> Download Excel</button></div>', id: "exportbtn",
                        title: 'Re-Open Pending Order Ticket Genreate List ',
                        action: newexportaction,
                        exportOptions: {

                            modifier: {
                                // DataTables core
                                order: 'index',  // 'current', 'applied', 'index',  'original'
                                page: 'all',      // 'all',     'current'
                                search: 'none'     // 'none',    'applied', 'removed'
                            },
                            columns: ':not(.notexport)'

                        }
                    }
                ],
                "oLanguage": {
                    "sEmptyTable": "No Record found"
                },
                "ajax": {
                      "url": "@URLPrefixforProd/api/LGCList/GetAssignOrderListforTicketGenretion?TableNo=2&companyId=@ViewBag.CompanyId" + _urlData,
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "responsive": true,
                "columns": [
                    { "data": "orderTransId", "name": "OrderTransId", "autoWidth": true, "orderable": false },
                    { "data": "edit", "name": "Edit", "autoWidth": true, "orderable": false },
                    { "data": "statusCode", "name": "StatusCode", "autoWidth": true, "orderable": false },
                    { "data": "regdNo", "name": "RegdNo", "autoWidth": true, "orderable": false },
                    { "data": "evcRegNo", "name": "EvcRegNo", "autoWidth": true, "orderable": true },
                    { "data": "evcStoreCode", "name": "EvcStoreCode", "autoWidth": true, "orderable": true },
                    { "data": "firstName", "name": "FirstName", "autoWidth": true, "orderable": true },
                    { "data": "lastName", "name": "LastName", "autoWidth": true, "orderable": true },
                    { "data": "finalExchangePrice", "name": "FinalExchangePrice", "autoWidth": true, "orderable": true },
                    { "data": "evcRate", "name": "EvcRate", "autoWidth": true, "orderable": true },
                    { "data": "custCity", "name": "CustCity", "autoWidth": true, "orderable": true },
                    { "data": "exchProdGroup", "name": "ExchProdGroup", "autoWidth": true, "orderable": true },
                    { "data": "oldProdType", "name": "OldProdType ", "autoWidth": true, "orderable": true },
                    { "data": "custPin", "name": "CustPin", "autoWidth": true, "orderable": true },
                    { "data": "isPrimeProductId", "name": "IsPrimeProductId", "autoWidth": true, "orderable": true },
                    { "data": "reOpenDate", "name": "ReOpenDate", "autoWidth": true, "orderable": true },
                    { "data": "evcWalletAmount", "name": "EvcWalletAmount", "autoWidth": true, "orderable": true },
                    { "data": "clearBalance", "name": "clearBalance", "autoWidth": true, "orderable": true },
                    { "data": "action", "name": "Action", "autoWidth": true, "orderable": false },
               // { "data": "edit", "name": "Edit", "autoWidth": true, "orderable": false },

                ]
        });
        Rescheduletable = $('#RescheduleTicketDatatable').dataTable({
                "order": [[0, 'desc']],
                "processing": true,
                "serverSide": true,
               "filter": true,
               "scrollX": true,
               "paging": true,
               "searching": false,
                "dom": 'Bfrtlp',
                "buttons": [
                    {
                        text: '<button class="btn btn-primary datatablebtn" id="filterboxbtnright"><i class="fa-solid fa-filter"></i></button>',
                        action: function (e, dt, node, config) {
                            $('.filters').toggle();
                        }
                    },
                    {
                        extend: 'excel', text: '<div class="exportbtnwrapper"><button class="btn btn-primary" id="exportbtn"><i class="fa-solid fa-download"></i> Download Excel</button></div>', id: "exportbtn",
                        title: 'Reschedule Pending Order Ticket Genreate List',
                        action: newexportaction,
                        exportOptions: {

                            modifier: {
                                // DataTables core
                                order: 'index',  // 'current', 'applied', 'index',  'original'
                                page: 'all',      // 'all',     'current'
                                search: 'none'     // 'none',    'applied', 'removed'
                            },
                            columns: ':not(.notexport)'

                        }
                    }
                ],
                "oLanguage": {
                    "sEmptyTable": "No Record found"
                },
                "ajax": {
                      "url": "@URLPrefixforProd/api/LGCList/GetAssignOrderListforTicketGenretion?TableNo=3&companyId=@ViewBag.CompanyId" + _urlData,
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "responsive": true,
                "columns": [
                    { "data": "orderTransId", "name": "OrderTransId", "autoWidth": true, "orderable": false },
                    { "data": "edit", "name": "Edit", "autoWidth": true, "orderable": false },
                    { "data": "statusCode", "name": "StatusCode", "autoWidth": true, "orderable": false },
                    { "data": "rescheduleDate", "name": "RescheduleDate", "autoWidth": true, "orderable": false },
                    { "data": "rescheduleTime", "name": "RescheduleTime", "autoWidth": true, "orderable": false },
                    { "data": "regdNo", "name": "RegdNo", "autoWidth": true, "orderable": false },
                    { "data": "evcRegNo", "name": "EvcRegNo", "autoWidth": true, "orderable": true },
                    { "data": "evcStoreCode", "name": "EvcStoreCode", "autoWidth": true, "orderable": true },
                    { "data": "firstName", "name": "FirstName", "autoWidth": true, "orderable": true },
                    { "data": "lastName", "name": "LastName", "autoWidth": true, "orderable": true },
                    { "data": "custCity", "name": "CustCity", "autoWidth": true, "orderable": true },
                    { "data": "custPin", "name": "CustPin", "autoWidth": true, "orderable": true },
                { "data": "exchProdGroup", "name": "ExchProdGroup", "autoWidth": true, "orderable": true },
                { "data": "oldProdType", "name": "OldProdType ", "autoWidth": true, "orderable": true },
                    { "data": "evcWalletAmount", "name": "EvcWalletAmount", "autoWidth": true, "orderable": true },
                    { "data": "clearBalance", "name": "clearBalance", "autoWidth": true, "orderable": true },
                    { "data": "action", "name": "Action", "autoWidth": true, "orderable": false }
                ]
         });
        CancelTicketByUTC = $('#CancelTicketByUTCDatatabale').dataTable({
                "order": [[0, 'desc']],
                "processing": true,
                "serverSide": true,
               "filter": true,
               "scrollX": true,
               "paging": true,
               "searching": false,
                "dom": 'Bfrtlp',
                "buttons": [
                    {
                        text: '<button class="btn btn-primary datatablebtn" id="filterboxbtnright"><i class="fa-solid fa-filter"></i></button>',
                        action: function (e, dt, node, config) {
                            $('.filters').toggle();
                        }
                    },
                    {
                        extend: 'excel', text: '<div class="exportbtnwrapper"><button class="btn btn-primary" id="exportbtn"><i class="fa-solid fa-download"></i> Download Excel</button></div>', id: "exportbtn",
                        title: 'Cancel Ticket By UTC',
                        action: newexportaction,
                        exportOptions: {

                            modifier: {
                                // DataTables core
                                order: 'index',  // 'current', 'applied', 'index',  'original'
                                page: 'all',      // 'all',     'current'
                                search: 'none'     // 'none',    'applied', 'removed'
                            },
                            columns: ':not(.notexport)'

                        }
                    }
                ],
                "oLanguage": {
                    "sEmptyTable": "No Record found"
                },
                "ajax": {
                      "url": "@URLPrefixforProd/api/LGCList/GetAssignOrderListforTicketGenretion?TableNo=4&companyId=@ViewBag.CompanyId" + _urlData,
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "responsive": true,
                "columns": [
                    { "data": "orderTransId", "name": "OrderTransId", "autoWidth": true, "orderable": false },
                    { "data": "edit", "name": "Edit", "autoWidth": true, "orderable": false },
                    { "data": "statusCode", "name": "StatusCode", "autoWidth": true, "orderable": false },
                    { "data": "regdNo", "name": "RegdNo", "autoWidth": true, "orderable": false },
                    { "data": "evcRegNo", "name": "EvcRegNo", "autoWidth": true, "orderable": true },
                { "data": "evcStoreCode", "name": "EvcStoreCode", "autoWidth": true, "orderable": true },
                    { "data": "pickupScheduleDate", "name": "PickupScheduleDate", "autoWidth": true, "orderable": true },
                    { "data": "pickupScheduletime", "name": "PickupScheduletime", "autoWidth": true, "orderable": true },
                    { "data": "firstName", "name": "FirstName", "autoWidth": true, "orderable": true },
                    { "data": "lastName", "name": "LastName", "autoWidth": true, "orderable": true },
                    { "data": "custCity", "name": "CustCity", "autoWidth": true, "orderable": true },
                    { "data": "custPin", "name": "CustPin", "autoWidth": true, "orderable": true },
                { "data": "exchProdGroup", "name": "ExchProdGroup", "autoWidth": true, "orderable": true },
                { "data": "oldProdType", "name": "OldProdType ", "autoWidth": true, "orderable": true },
                    { "data": "evcWalletAmount", "name": "EvcWalletAmount", "autoWidth": true, "orderable": true },
                    { "data": "clearBalance", "name": "clearBalance", "autoWidth": true, "orderable": true },
                    { "data": "action", "name": "Action", "autoWidth": true, "orderable": false }
                ]
            });
    }

    function GetURLData(orderStartDate = null, orderEndDate = null, companyName = null, productCatId = null, productTypeId = null, regdNo = null, phoneNo = null, custCity = null, evcregdNo = null, evcstoreCode = null, userId = null) {
      var urlData = "";
        if (orderStartDate != null && orderEndDate != null) {
            urlData += '&orderStartDate=' + orderStartDate + '&orderEndDate=' + orderEndDate;
        }
        if (companyName != null) {
            urlData += '&companyName=' + companyName;
        }
        if (productCatId != null && productCatId > 0) {
            urlData += '&productCatId=' + productCatId;
        }
        if (productTypeId != null && productTypeId > 0) {
            urlData += '&productTypeId=' + productTypeId;
        }
        if (regdNo != null) {
            urlData += '&regdNo=' + regdNo;
        }
        if (phoneNo != null) {
            urlData += '&phoneNo=' + phoneNo;
        }
        if (custCity != null) {
            urlData += '&custCity=' + custCity;
        }
        if (evcregdNo != null) {
            urlData += '&evcregdNo=' + evcregdNo;
        }
        if (evcstoreCode != null) {
            urlData += '&evcstoreCode=' + evcstoreCode;
        }
        if (userId != null) {
            urlData += '&userId=' + userId;
        }
        return urlData;
    }

    //Filter Function
    function CommonFilter() {
        var companyName = $('#companyName').val();
        companyName = $('#companyName').val() == "" ? null : $('#companyName').val();

        var productCatId = $('#ddlprodcatid').val();
        productCatId = $('#ddlprodcatid').val() == "" ? 0 : $('#ddlprodcatid').val();
        var productTypeId = $('#ddlprodcattypeid').val();
        productTypeId = $('#ddlprodcattypeid').val() == "" ? 0 : $('#ddlprodcattypeid').val();

        var orderStartDate = $('#orderStartDate').val();
        orderStartDate = $('#orderStartDate').val() == "" ? null : $('#orderStartDate').val();
        var orderEndDate = $('#orderEndDate').val();
        orderEndDate = $('#orderEndDate').val() == "" ? null : $('#orderEndDate').val();

        var regdNo = $('#regdNo').val();
        regdNo = $('#regdNo').val() == "" ? null : $('#regdNo').val();

        var phoneNo = $('#phoneNo').val();
        phoneNo = $('#phoneNo').val() == "" ? null : $('#phoneNo').val();

        var custCity = $('#custCity').val();
        custCity = $('#custCity').val() == "" ? null : $('#custCity').val();

        var evcregdNo = $('#evcregdNo').val();
        evcregdNo = $('#evcregdNo').val() == "" ? null : $('#evcregdNo').val();

        var evcstoreCode = $('#evcstoreCode').val();
        evcstoreCode = $('#evcstoreCode').val() == "" ? null : $('#evcstoreCode').val();
        
        var createdByMe = $("#chkCreatedByMe:checked").val();
        var userId = null;
        if (createdByMe) {
            userId = $('#hdnUserId').val() == "" ? null : $('#hdnUserId').val();
        }

        var urlData = GetURLData(orderStartDate, orderEndDate, companyName, productCatId, productTypeId, regdNo, phoneNo, custCity, evcregdNo, evcstoreCode, userId);

        // Destroy the existing DataTable
        table = $('#NewTicketDatatable').DataTable();
        // Destroy the existing DataTable
        table.clear().destroy();

        // Destroy the existing DataTable
        table = $('#ReOpenTicketDatatable').DataTable();
        // Destroy the existing DataTable
        table.clear().destroy();

        // Destroy the existing DataTable
        table = $('#RescheduleTicketDatatable').DataTable();
        // Destroy the existing DataTable
        table.clear().destroy();

        // Destroy the existing DataTable
        table = $('#CancelTicketByUTCDatatabale').DataTable();
        // Destroy the existing DataTable
        table.clear().destroy();

        //Re-Initialize Datatable
        DataTableFunc(urlData);

        $('.filters').hide();
        BtnDisableOnAction();
    }
</script>

@*AutoPopulate Regd No search filter*@
<script>
    $(function () {
        function split(val) {
            return val.split(/,\s*/);
        }
        function extractLast(term) {
            return split(term).pop();
        }

        $("#regdNo").on("keydown", function (event) {
                if (event.keyCode === $.ui.keyCode.TAB &&
                    $(this).autocomplete("instance").menu.active) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.get("@URLPrefixforProd/LGC_Admin/TicketGenerate?handler=SearchRegdNo", {
                        term: extractLast(request.term)
                    }, response);
                },
                focus: function () {
                    // prevent value inserted on focus
                    return false;
                },
                open: function (event, ui) {
                    // Get the menu element
                    var menu = $(this).autocomplete("widget");

                    // Set max-height and overflow properties
                    menu.css("max-height", "200px");
                    menu.css("overflow-y", "auto");
                },
                select: function (event, ui) {
                    var terms = split(this.value);
                    console.log(terms);
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push(ui.item.value);
                   
                    this.value = ui.item.value;
                    return false;
                }
            });
    })

    $('#nav-home-tab1').click(function () {
        let table = $('#NewTicketDatatable').DataTable();
        table.ajax.reload();
        BtnDisableOnAction();
    })
    $('#nav-home-tab2').click(function () {
        let table = $('#ReOpenTicketDatatable').DataTable();
        table.ajax.reload();
        BtnDisableOnAction();
    })
    $('#nav-home-tab3').click(function () {
        let table = $('#RescheduleTicketDatatable').DataTable();
        table.ajax.reload();
        BtnDisableOnAction();
    })
    $('#nav-home-tab4').click(function () {
        let table = $('#CancelTicketByUTCDatatabale').DataTable();
        table.ajax.reload();
        BtnDisableOnAction();
    })
    


</script>
