@page
@model RDCELERP.Core.App.Pages.Users.ChangePasswordModel
@{
}
@{
    ViewData["Title"] = "Manage";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/vendor/smart_wizard.min.css" media="screen" />
<link rel="stylesheet" href="~/css/vendor/cropper.min.css">

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="fs-5 mb-0 card-title">
                                    <a href="#"></a> Change Password
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" id="form-user" enctype="multipart/form-data">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="UserPasswordViewModel.UserId" id="hdnUserId" />
                            <input type="hidden" asp-for="UserPasswordViewModel.Email" id="hdnEmail" />
                            <input type="hidden" asp-for="UserPasswordViewModel.IsOldPasswordCorrect" id="hdnIsOldPasswordCorrect" />
                            <input type="hidden" asp-for="UserPasswordViewModel.OldGetPassword" id="hdnOldGetPassword" />

                            <input type="hidden" asp-for="UserPasswordViewModel.ResponseMessage" id="hdnResponseMessage" />



                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group mb-3">
                                        <label asp-for="UserPasswordViewModel.OldPassword" class="control-label"></label>
                                        <input asp-for="UserPasswordViewModel.OldPassword" id="txtOldPassword" class="form-control" />
                                        <span asp-validation-for="UserPasswordViewModel.OldPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="UserPasswordViewModel.Password" class="control-label"></label>
                                        <input asp-for="UserPasswordViewModel.Password" class="form-control" id="txtPassword" />
                                        <span asp-validation-for="UserPasswordViewModel.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="UserPasswordViewModel.ConfirmPassword" class="control-label"></label>
                                        <input asp-for="UserPasswordViewModel.ConfirmPassword" class="form-control" id="txtConfirmPassword" />
                                        <span asp-validation-for="UserPasswordViewModel.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" id="btnupload" value="Update" class="btn btn-primary" />
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            if ($("#hdnResponseMessage").val() != null && $("#hdnResponseMessage").val().length > 0) {
                alert($("#hdnResponseMessage").val());
                $("#hdnResponseMessage").val('');
            }
        });
        $(document).ready(function () {

            $("#linkForgotPassword").click(function () {
                $("#divLogin").hide();
                $("#divForgotPassword").show();
            });

            $("#btnBack").click(function () {
                $("#divForgotPassword").hide();
                $("#divLogin").show();
            });



        });

        $("#txtOldPassword").change(function () {
            CheckOldPassword();

        });


        function OldPasswordChange() {
            _oldPassword = $("#txtOldPassword").val();
            _userEmail = $("#hdnEmail").val();
            //$.getJSON(`?handler=ValidateoldPassword&UserConfirmPasswordViewModel.Email=${_userEmail}&UserConfirmPasswordViewModel.OldPassword=${_oldPassword}`, (data) => {
            //    aler("Existing password is not correct" + data);
            //    if (!data) {
            //        aler("Existing password is not correct");
            //        $("#hdnIsOldPasswordCorrect").val(false);
            //        $("#divSubmit").hide();
            //    }
            //    else {
            //        $("#hdnIsOldPasswordCorrect").val(true);
            //        $("#divSubmit").hide(true);
            //    }

            //});
        }

        function CheckOldPassword() {
            var oldPassword = $("#hdnOldGetPassword").val() != null && $("#hdnOldGetPassword").val() != "" ? $("#hdnOldGetPassword").val() : null;
            var currentOldPassword = $("#txtOldPassword").val() != null && $("#txtOldPassword").val() != "" ? $("#txtOldPassword").val() : null;
            if (currentOldPassword == oldPassword) {

            } else {
                alert("Old password is not correct");
                $("#txtOldPassword").val('');
                $("#txtOldPassword").focus();
            }
        }

        function MatchPassword() {
            var newPassword = $('#txtPassword').val();
            var confirmPassword = $('#txtConfirmPassword').val();
             
            if (newPassword == confirmPassword) {
                return true;
            } else {
                return false;
            }
        }
    </script>
}





















