@page
@model RDCELERP.Core.App.Pages.PriceMasterName.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
    RDCELERP.Model.Base.AccessRuleViewModel accessRule = (RDCELERP.Model.Base.AccessRuleViewModel)ViewBag.AccessRule;
    int i = 0;
    var URLPrefixforProd = ViewData["URLPrefixforProd"];
}

@if (ViewData["UserAuth"] != null)
{
    <script type="text/javascript">
           alert("@ViewData["UserAuth"]");
    </script>
}

@* <link href="~/NewLayout/css/jquery.dataTables.min.css" rel="stylesheet" />
 *@<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="fs-5 fw-bold mb-0">Price Master Name List</h2>
                            </div>

                            <div class="col text-end">
                                <div class="col text-end">
                                    @if (accessRule != null && accessRule.CanAdd)
                                    {
                                        <a asp-page="Manage"
                                           class="btn btn-primary">
                                            Add New
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="NameDatatable" class="table align-items-center table-flush" border="1">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="all">PriceMasterNameId</th>
                                        <th class="all">Actions</th>
                                        <th class="all">Name</th>
                                        <th class="all">Description</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    <div class="filters">
                        <div class="p-4">

                            <h4 class="">Filters</h4>

                            <p class="filterheading"><input type="checkbox" name="" id="chkDateRange">Date Range</p>
                            <div class="filterbox">
                                <input type="text" class="form-control d-inline mb-2" id="startdate" placeholder="Start Date" autocomplete="off">
                                <input type="text" class="form-control d-inline mb-2" id="enddate" placeholder="End Date" autocomplete="off">
                            </div>


                            <div class="filter-seprator"></div>

                            <p class="filterheading"><input type="checkbox" name="" id="chkname">Name</p>

                            <div class="filterbox">
                                <input type="text" class="form-control d-inline" id="name" placeholder="Search Name">
                            </div>

                            <div class="filter-seprator"></div>

                            <p class="filterheading"><input type="checkbox" name="" id="chkdescription">Description</p>

                            <div class="filterbox">
                                <input type="text" class="form-control d-inline" id="description" placeholder="Search Description">
                            </div>

                            
                            <div class="filterbtnwrap">
                                <a id="btnFilter" class="btn btn-primary">Filter</a>
                                <a id="btnCloseFilter" class="btn btn-sm btn-secondary py-2">Clear</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    <div class="modal-dialog" style="width:501px !important;margin:0 auto;">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h4 class="modal-title" id="delete-conformation">
                    Delete Confirmation
                </h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <div class="form-group">
                            <input type="hidden" asp-for="TblPriceMasterNameObj.PriceMasterNameId" id="hdnId" />
                            <div class="col-sm-12">
                                <span>
                                    Are you sure you want to delete?
                                </span>
                                @*<strong class="deletedValueName">
                                </strong>*@
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                        <input type="submit" asp-page-handler="Delete" class="btn btn-danger" value="Delete" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/NewLayout/assets/js/jquery.dataTables.min.js"></script>
<script src="~/NewLayout/vendor/jquery-ui/jquery-ui.js"></script>
<script src="~/NewLayout/assets/js/exportTable.js"></script>

<script>
   
     var table = null;
    $(document).ready(function () {
        var url = "@ViewData["URLPrefixforProd"]/api/MasterList/PriceMasterNameList";
       
        var startDate = $('#startdate').val();
        var endDate = $('#enddate').val();
        DataTable(url, startDate, endDate);

        //Hide Filters Dive
        $('.filters').hide();
        $("#startdate").datepicker({
            defaultDate: null,
            onSelect: function (selectedDate) {
                $("#enddate").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#enddate").datepicker({
            defaultDate: null,

        });
    });


    //this is only display bootstrap modal pop up dialog
    function deleteConfirm(_Id) {
        //alert(_dealId);
        $('#hdnId').val(_Id);
        $('#delete-conformation').modal('show');
    }

        function DataTable(url, startDate, endDate) {
            table = $('#NameDatatable').dataTable({
            "order": [[0, 'desc']],
            "processing": true,
            "serverSide": true,
            "searching": false,
            "filter": true,
            "data": { startDate: startDate, endDate: endDate },
            "dom": 'Bfrtlp',
                "buttons": [
                    {
                        text: '<button class="btn btn-primary" id="filterboxbtnright"><i class="fa-solid fa-filter"></i></button>',
                        action: function (e, dt, node, config) {
                            $('.filters').toggle();
                            //$('.content').toggleClass('maincontent');
                            //$('.filters').insertBefore('table.dataTable');
                        }
                    },
                {
                    extend: 'excel', text: '<div class="exportbtnwrapper"><button class="btn btn-primary" id="exportbtn"><i class="fa-solid fa-download"></i> Download Excel</button></div>', id: "exportbtn",
                    title: 'PriceMasterName',
                    action: newexportaction,
                    exportOptions: {
                        modifier: {
                            // DataTables core
                            order: 'index',  // 'current', 'applied', 'index',  'original'
                            page: 'all',      // 'all',     'current' for export all pages data
                            search: 'none'     // 'none',    'applied', 'removed'
                        },
                        columns: ':not(.notexport)'
                    }
                }
            ],
            "oLanguage": {
                "sEmptyTable": "No Data found"
            },
            "ajax": {
                "url": url,
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],

             "responsive": true,
            "columns": [
                { "data": "priceMasterNameId", "name": "PriceMasterNameId", "autoWidth": true, "orderable": false },
                { "data": "action", "name": "Action", "autoWidth": true, "orderable": false },
                { "data": "name", "name": "Name", "autoWidth": true, "orderable": true },
                { "data": "description", "name": "Description", "autoWidth": true, "orderable": true },
            ]
        });
    }

       //Filter Clsoe Button Click Event
    $('#btnCloseFilter').click(function () {
        $('#startdate').val("");
        $('#enddate').val("");
        $('#name').val("");
        $('#description').val("");
       
        // Unchecks it
        $('.filters input[type="checkbox"]').prop('checked', false);
        $('.filterbox').hide();
        CommonFilter();
    });

    //Check Box Date Range change Event
    $("#chkDateRange").click(function () {
        if (!this.checked) {
            $('#startdate').val("");
            $('#enddate').val("");
        }
    });

    //Check Box Regd Number change Event
    $("#chkname").click(function () {
        if (!this.checked) {
            $('#name').val("");
        }
    });

    //Check Box Brand Name change Event
    $("#chkdescription").click(function () {
         debugger;
        if (!this.checked) {
            $('#description').val("");
        }
    });

    
     
    $('#btnFilter').click(function () {
        CommonFilter();
    });


    //Filter Function
    function CommonFilter() {
        var startDate = $('#startdate').val();
        startDate = $('#startdate').val() == "" ? null : $('#startdate').val();
        var endDate = $('#enddate').val();
        endDate = $('#enddate').val() == "" ? null : $('#enddate').val();
        //var newProductCategoryType = $('#newProductCategoryType').val();
        //newProductCategoryType = $('#newProductCategoryType').val() == "" ? 0 : $('#newProductCategoryType').val();
        var name = $('#name').val();
        name = $('#name').val() == "" ? null : $('#name').val();
        var description = $('#description').val();
        description = $('#description').val() == "" ? null : $('#description').val();
        alert(description);
        
        if (startDate == null || endDate == null) {
            url = "@ViewData["URLPrefixforProd"]/api/MasterList/PriceMasterNameList?" + "&name=" + name +
            '&description=' + description;
              alert(url);
        }
        else {
            alert("2");
            url = "@ViewData["URLPrefixforProd"]/api/MasterList/PriceMasterNameList?" + '&name=' + name +
            '&description=' + description + '&startDate=' + startDate + ' &endDate=' + endDate;
        }


        // Destroy the existing DataTable
        table = $('#NameDatatable').DataTable();
        // Destroy the existing DataTable
        table.destroy();

        DataTable(url, startDate, endDate);
        $('.filters').hide();
    }


    //All Data Export--
    function newexportaction(e, dt, button, config) {
        var self = this;
        var oldStart = dt.settings()[0]._iDisplayStart;
        dt.one('preXhr', function (e, s, data) {
            // Just this once, load all data from the server...
            data.start = 0;
            data.length = 2147483647;
            dt.one('preDraw', function (e, settings) {
                // Call the original action function
                if (button[0].className.indexOf('buttons-copy') >= 0) {
                    $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                    $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                }
                dt.one('preXhr', function (e, s, data) {
                    // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                    // Set the property to what it was before exporting.
                    settings._iDisplayStart = oldStart;
                    data.start = oldStart;
                });
                // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                setTimeout(dt.ajax.reload, 0);
                // Prevent rendering of the full data to the DOM
                return false;
            });
        });
        // Requery the server with the new one-time export settings
        dt.ajax.reload();
    };
    
</script>

