@page
@model RDCELERP.Core.App.Pages.DashboardModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link href="~/SelfQC-assets/css/style.css" rel="stylesheet" />
@*<div class="row datefilter mt-2 mb-4">
    <div class="col-md-4 mb-2">
        <h5 class="welcometxt m-0">
            Wellcome to the UTC Digital
        </h5>
    </div>
</div>*@
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="topsec">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="topcontentsec" style="color:gray">
                            <h2 style="color: gray">WelCome</h2>
                            <p>
                                Now for the first time in India, we have launched our Smart Buy Plan for select home appliances, which would let you decide your appliance’s resale price on the day of purchase itself. This helps you avoid the hassles of bargaining when you sell your appliance and gives you great savings to upgrade to a new model.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center logo-order" style="padding-top:60px; padding-left:100px">
                        <div class="logowrap">
                            <img src="~/SelfQC-assets/img/digi2l-arrow-01.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
