body {
    background: url('../Images/bg.png') no-repeat center center;
    background-size: 160%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    
}

img {
    width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.6;
}


#wrapper {
    position: relative;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 80px;
}

.topnav {
    border-bottom: 1px solid #e6e6e6;
    background: #fff;
    padding: 8px 0;
}

    .topnav p {
        margin: 18px 0 0;
        font-size: 14px;
        font-weight: 600;
        color: #002554;
    }

.logowrapper {
    max-width: 150px;
    margin: 0 auto;
}

    .logowrapper .logo {
        width: 100%;
    }

.table th {
    font-size: 14px;
}

.form-control,
.custom-select {
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid #e8e8e8 !important;
    height: 38px;
}

    .form-control:focus {
        outline: none;
        box-shadow: none;
    }

.form-group {
    padding: 0 20px;
}

    .form-group label {
        font-size: 13px;
    }

.mainformarea {
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding-bottom: 20px;
}

.main {
    padding: 40px 0;
}


.btn {
    border-radius: 8px;
    padding: 10px 30px;
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
    margin: 3px;
    border: none;
    box-shadow: none;
    font-size: 14px;
}

    .btn:hover {
        transition: 0.1s;
    }

.btn-primary {
    background: rgb(51, 37, 176);
    background: -moz-linear-gradient(-45deg, rgba(51, 37, 176, 1) 0%, rgb(87, 29, 135) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(51, 37, 176, 1) 0%, rgba(40, 29, 135, 1) 100%);
    background: linear-gradient(135deg, rgba(51, 37, 176, 1) 0%, rgba(40, 29, 135, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3325b0', endColorstr='#281d87', GradientType=1);
}

    .btn-primary:hover {
        opacity: 0.95;
    }

.btn-secondary {
    background-color: #fff;
    color: #002554;
    border: 1px solid #002554;
}

    .btn-secondary:hover {
        background-color: #f2f2f2;
        color: #002554;
    }

.footer {
    padding: 30px 0;
    background-color: #0d004c;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

    .footer:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: 60px;
        width: 100%;
        background: url(../img/footer-pattern-01.png) no-repeat right center;
        background-size: contain;
    }

    .footer a {
        color: #fff;
    }

    .footer img {
        width: 100%;
        max-width: 60px;
    }

    .footer p {
        margin: 0;
    }

    .footer label {
        margin: 0;
    }

    .footer a {
        margin: 5px;
        font-size: 14px;
        color: #002554;
        vertical-align: bottom;
    }

        .footer a:hover {
            text-decoration: none;
        }

.input-group {
    display: flex;
    align-items: center;
}

    .input-group .form-control {
        border-radius: 0 6px 6px 0;
        font-size: 13px;
    }



    .input-group i {
        border-right: 0;
        padding: 10px 15px;
        height: 38px;
        border-radius: 6px 0 0 6px;
        border: 1px solid #e8e8e8 !important
    }

.card {
    display: block;
    padding: 24px;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    margin: 12px;
}

.heading {
    font-size: 20px;
    margin-bottom: 26px;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 15px;
}

::placeholder {
    font-size: 13px;
}

.form-control:hover {
    border: 1px solid #ccc !important;
}

.text-muted {
    font-size: 11px;
    margin-top: 7px;
}

.astrik {
    color: red;
}


.footer-social a {
    margin: 20px 10px;
}

    .footer-social a img {
        width: 20px;
        max-height: 20px;
    }

strong {
    color: #002554;
    font-weight: 500;
}


.detailbox p {
    font-size: 14px;
}

    .detailbox p span {
        display: block;
        font-size: 16px;
        margin-top: 8px;
        padding: 6px 0;
        border-top: 1px solid #eee;
        font-weight: 500;
    }

    .detailbox p i {
        margin-right: 6px;
        opacity: 0.5;
    }

.primary-color {
    color: #002554;
}

@media (max-width: 770px) {
    #wrapper {
        padding-bottom: 100px;
    }

    .footer {
        text-align: center;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 600px) {
    .logowrapper {
        max-width: 120px;
    }

    .topnav p {
        font-size: 12px;
    }

    label {
        font-size: 13px;
    }

    .heading {
        font-size: 18px;
        margin-bottom: 22px;
    }
}
