 @page
@model RDCELERP.Core.App.Pages.ProductCategory.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    RDCELERP.Model.Base.AccessRuleViewModel accessRule = (RDCELERP.Model.Base.AccessRuleViewModel)ViewBag.AccessRule;
    int i = 0;
    var URLPrefixforProd = ViewData["URLPrefixforProd"];
}

@if (ViewData["UserAuth"] != null)
{
    <script type="text/javascript">
           alert("@ViewData["UserAuth"]");
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="fs-5 fw-bold mb-0">Product Category List</h2>
                            </div>
                            <div class="col text-end">
                                @if (accessRule != null && accessRule.CanAdd)
                                {
                                    <a asp-page="Manage"
                                       class="btn btn-primary">
                                        <i class="fa-solid fa-plus"></i>&nbsp; New Product Category
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row datefilter mt-2 mb-4">
                            <div class="col-md-4 mb-2">

                            </div>

                            <div class="col-md-8 text-right datefilter-right">
                                <input type="text" class="form-control d-inline mb-2" id="startdate" placeholder="Start Date">
                                <input type="text" class="form-control d-inline mb-2" id="enddate" placeholder="End Date">
                                @*<input type="submit" class="d-inline btn btn-primary" value="Submit">*@
                                <button id="filter-dates" class="btn btn-primary">Filter</button>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table id="productCategoryDatatable" class="table align-items-center table-flush" border="1">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="all">Id</th>
                                        <th class="all">Actions</th>
                                        <th class="all">Name</th>
                                        <th class="all">Description</th>
                                        <th class="all">Code</th>
                                        <th class="all">Active</th>
                                       
                                        <th class="all">Allowed For New</th>
                                        <th class="all">Allowed For Old</th>
                                       
                                        <th class="all">Date</th>
                                        
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    <div class="modal-dialog" style="width:501px !important;margin:0 auto;">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h4 class="modal-title" id="delete-conformation">
                    Inactive Confirmation
                </h4>
            </div>
            <div class="modal-body">
                <form method="post">

                    <div class="row">
                        <div class="form-group">
                            <input type="hidden" asp-for="TblProductCategoryObj.Id" id="hdnId" />
                            <div class="col-sm-12">
                                <span>
                                    Are you sure you want to make this Product Category Inactive ?
                                </span>
                                @*<strong class="deletedValueName">
                                </strong>*@
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                        <input type="submit" asp-page-handler="Delete" class="btn btn-danger" value="Make Inactive" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="active-conformation" tabindex="-1" role="dialog" aria-labelledby="activeconformation">
    <div class="modal-dialog" style="width:501px !important;margin:0 auto;">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h4 class="modal-title" id="active-conformation1">
                    Active Confirmation
                </h4>
            </div>
            <div class="modal-body">
                <form method="post">

                    <div class="row">
                        <div class="form-group">
                            <input type="hidden" asp-for="TblProductCategoryObj.Id" id="hdnId1" />
                            <div class="col-sm-12">
                                <span>
                                    Are you sure you want to Active this Product Category?
                                </span>
                                @*<strong class="deletedValueName">
                                </strong>*@
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                        <input type="submit" asp-page-handler="Delete" class="btn btn-success" value="Make Active" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/NewLayout/assets/js/jquery.dataTables.min.js"></script>
<script src="~/NewLayout/vendor/jquery-ui/jquery-ui.js"></script>
<script src="~/NewLayout/assets/js/exportTable.js"></script>
<script type="text/javascript">
    var table = null;
    $(document).ready(function () {

        var url = "@URLPrefixforProd/api/ListPage/GetProductCategoryList";
        var startDate = $('#startdate').val();
        var endDate = $('#enddate').val();
        $('#startdate, #enddate').change(function () {
            // if ($('#startdate').val() != '' && $('#enddate').val() != '') {
            //     $('#filter-dates').prop('disabled', false);
            // } else {
            //     $('#filter-dates').prop('disabled', true);
            // }
        });
        DataTable(url, startDate, endDate);

        //date range Filter
        $('#filter-dates').click(function () {

            startDate = $('#startdate').val();
            endDate = $('#enddate').val();
            var url = '@URLPrefixforProd/api/ListPage/GetProductCategoryList?startDate=' + startDate + '&endDate=' + endDate;
            table = $('#productCategoryDatatable').DataTable();
            // Destroy the existing DataTable
            table.destroy();
            DataTable(url,startDate,endDate);
        });

    });

    function activeConfirmProductCategory(_Id) {

        $('#hdnId1').val(_Id);
        $('#active-conformation').modal('show');
    }

    function deleteConfirmProductCategory(_Id) {
       // alert(_dealId);
        $('#hdnId').val(_Id);
        $('#delete-conformation').modal('show');
    }

    $(document).ready(function () {
        $("#startdate").datepicker({
            defaultDate: null,
            onSelect: function (selectedDate) {
                $("#enddate").datepicker("option", "minDate", selectedDate);
            }
        });

        $("#enddate").datepicker({
            defaultDate: null,
            onSelect: function (selectedDate) {
                $("#startdate").datepicker("option", "maxDate", selectedDate);
            }
        });
    });
    //data table
    function DataTable(url, startDate, endDate) {
        table = $('#productCategoryDatatable').dataTable({
            "order": [[0, 'desc']],
            "processing": true,
            "serverSide": true,
            "scrollX": true,
            "paging": true,
            "filter": true,
            "data": { startDate: startDate, endDate: endDate },
            // "lengthMenu": [[10, 25, 50, 10000], [10, 25, 50, "All"]],
            "dom": 'Bfrtlp',
            "buttons": [
                {
                    extend: 'excel', text: '<div class="exportbtnwrapper"><button class="btn btn-primary" id="exportbtn"><i class="fa-solid fa-download"></i> Download Excel</button></div>', id: "exportbtn",
                    title: 'Product Category List',
                    action: newexportaction,
                    exportOptions: {
                        modifier: {
                            // DataTables core
                            order: 'index',  // 'current', 'applied', 'index',  'original'
                            page: 'all',      // 'all',     'current' for export all pages data
                            search: 'none'     // 'none',    'applied', 'removed'
                        },
                        columns: ':not(.notexport)'
                    }
                }
            ],
            "oLanguage": {
                "sEmptyTable": "No Product Category found"
            },
            "ajax": {
                "url": url,
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "responsive": true,
            "columns": [
                { "data": "id", "name": "Id", "autoWidth": true, "orderable": false },
                { "data": "action", "name": "Actions", "autoWidth": true, "orderable": false },
                { "data": "name", "name": "Name", "autoWidth": true, "orderable": true },
                { "data": "description", "name": "Description", "autoWidth": true, "orderable": true },
                { "data": "code", "name": "Code", "autoWidth": true, "orderable": true },
                { "data": "isActive", "name": "IsActive", "autoWidth": true, "orderable": true },
               
                { "data": "isAllowedForNew", "name": "IsAllowedForNew", "autoWidth": true, "orderable": true },
                { "data": "isAllowedForOld", "name": "IsAllowedForOld", "autoWidth": true, "orderable": true },
                { "data": "date", "name": "Date", "autoWidth": true, "orderable": true },
            ]
        });
    }

    //All Data Export--
    function newexportaction(e, dt, button, config) {
        var self = this;
        var oldStart = dt.settings()[0]._iDisplayStart;
        dt.one('preXhr', function (e, s, data) {
            // Just this once, load all data from the server...
            data.start = 0;
            data.length = 2147483647;
            dt.one('preDraw', function (e, settings) {
                // Call the original action function
                if (button[0].className.indexOf('buttons-copy') >= 0) {
                    $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                    $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                }
                dt.one('preXhr', function (e, s, data) {
                    // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                    // Set the property to what it was before exporting.
                    settings._iDisplayStart = oldStart;
                    data.start = oldStart;
                });
                // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                setTimeout(dt.ajax.reload, 0);
                // Prevent rendering of the full data to the DOM
                return false;
            });
        });
        // Requery the server with the new one-time export settings
        dt.ajax.reload();
    };
    //For Export Buttons available inside jquery-datatable "server side processing" - End
</script>


