@page
@model RDCELERP.Core.App.Pages.EVC.EVC_PartnerListforAdminModel
@{
    ViewData["Title"] = "Price Quoted QC";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    RDCELERP.Model.Base.AccessRuleViewModel accessRule = (RDCELERP.Model.Base.AccessRuleViewModel)ViewBag.AccessRule;
    var URLPrefixforProd = ViewData["URLPrefixforProd"];
}

@if (ViewData["UserAuth"] != null)
{
    <script type="text/javascript">
        alert("@ViewData["UserAuth"]");
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="row align-items-center">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="fs-5 mb-0 card-title">All EVC Partner</h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active shadow" id="nav-home-tab1" data-bs-toggle="tab"
                           href="#followUpInBetween48hrs" role="tab" aria-controls="nav-home1" aria-selected="true">
                            Not Approve EVC Partner 
                        </a>
                        <a class="nav-item nav-link shadow" id="nav-home-tab2" data-bs-toggle="tab"
                           href="#followUpInAfter48hrs" role="tab" aria-controls="nav-home" aria-selected="true">
                            Approve EVC Partner
                        </a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <!-- Tab -->
                <div class="card border-0 shadow noborderradius">
                    <div class="card-body">
                        <div class="tab-content" id="nav-tabContent">
                            <!-- follow Up In Between 48 hrs for UPI Verification-->
                            <div class="tab-pane fade show active" id="followUpInBetween48hrs" role="tabpanel"
                                 aria-labelledby="nav-profile-tab">
                                <div class="table-responsive">
                                    <table id="EVC_PartnerNotApproveDatatable" class="table align-items-center table-flush" border="1">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="all notexport">EVCPartner Id</th>
                                                <th class="all notexport">Actions</th>
                                                <th class="all">EVC Registration No</th>
                                                <th class="all">EVC Partner Code</th>
                                                <th class="all">Business Name</th>
                                                <th class="all">Partner State</th>
                                                <th class="all">Partner City</th>
                                                <th class="all">Partner Pincode</th>
                                                <th class="all">Partner Address</th>
                                                <th class="all">Date</th>
                                                @*<th class="all">Type Of Entity</th>*@
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <!-- follow Up In After 48 hrs for UPI Verification-->
                            <div class="tab-pane fade show" id="followUpInAfter48hrs" role="tabpanel"
                                 aria-labelledby="nav-profile-tab">
                                <div class="table-responsive">
                                    <table id="EVC_PartnerApproveDatatable" class="table align-items-center table-flush" border="1">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="all notexport">EVCPartner Id</th>
                                                <th class="all notexport">Actions</th>
                                                <th class="all">EVC Registration No</th>
                                                <th class="all">EVC Partner Code</th>
                                                <th class="all">Business Name</th>
                                                <th class="all">Partner State</th>
                                                <th class="all">Partner City</th>
                                                <th class="all">Partner Pincode</th>
                                                <th class="all">Partner Address</th>
                                                <th class="all">Date</th>
                                                @*<th class="all">Type Of Entity</th>*@
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @*List Page Common Filters Code VK 19-May*@
                        <div class="filters">
                            <div class="p-4">
                                <h4 class="">Filters</h4>
                                @* Order Date Range Filter *@
                                <p class="filterheading">
                                    <input type="checkbox" name="" id="chkOrderDateRange">
                                    <label for="chkOrderDateRange">Date Range</label>
                                </p>
                                <div class="filterbox">
                                    <input type="text" class="form-control d-inline mb-2" id="orderStartDate" readonly placeholder="Start Date" autocomplete="off">
                                    <input type="text" class="form-control d-inline mb-2" id="orderEndDate" readonly placeholder="End Date" autocomplete="off">
                                </div>
                                <div class="filter-seprator"></div>

                                @* Phone Number Filter *@
                                <p class="filterheading">
                                    <input type="checkbox" name="" id="chkPhoneNo">
                                    <label for="chkPhoneNo">Phone Number</label>
                                </p>
                                <div class="filterbox">
                                    <input type="text" class="form-control d-inline" id="phoneNo" placeholder="Search Phone Number">
                                </div>
                                <div class="filter-seprator"></div>

                                @* Cust State Filter *@
                                <p class="filterheading"><input type="checkbox" name="" id="chkCustState"><label for="chkCustCity">EVC State</label></p>
                                <div class="filterbox">
                                    <input type="text" class="form-control d-inline" id="custState" placeholder="Search State">
                                </div>
                                <div class="filter-seprator"></div>


                                @* Cust City Filter *@
                                <p class="filterheading"><input type="checkbox" name="" id="chkCustCity"><label for="chkCustCity">EVC City</label></p>
                                <div class="filterbox">
                                    <input type="text" class="form-control d-inline" id="custCity" placeholder="Search City">
                                </div>
                                <div class="filter-seprator"></div>

                                @* Cust City Filter *@
                                <p class="filterheading"><input type="checkbox" name="" id="chkCustPin"><label for="chkCustCity">EVC PinCode</label></p>
                                <div class="filterbox">
                                    <input type="text" class="form-control d-inline" id="custPin" placeholder="Search Pin">
                                </div>
                                <div class="filter-seprator"></div>

                                @* EVCRegd No Filter *@
                                <p class="filterheading">
                                    <input type="checkbox" name="" id="chkevcregdNo">
                                    <label for="chkevcregdNo">EVC Regd No</label>
                                </p>
                                <div class="filterbox">
                                    @*<input type="text" class="form-control d-inline" id="regdNo" placeholder="Search RegdNo">*@
                                    <input type="text" class="form-control d-inline" id="evcregdNo" placeholder="Search EVCRegdNo">

                                </div>
                                <div class="filter-seprator"></div>
                                @* EVCStoreCode Filter *@
                                <p class="filterheading">
                                    <input type="checkbox" name="" id="chkevcstorecode">
                                    <label for="chkevcstorecode">EVC Partner Code</label>
                                </p>
                                <div class="filterbox">
                                    <input type="text" class="form-control d-inline" id="evcstorecode" placeholder="Search EVC Partner Code">
                                </div>

                                @* Submit Filter *@
                                <div class="filterbtnwrap">
                                    <a id="btnFilter" class="btn btn-primary">Filter</a>
                                    <a id="btnCloseFilter" class="btn btn-sm btn-secondary py-2">Cancel</a>
                                </div>
                            </div>

                        </div>

                        @* <a asp-page="./EVC_Dashboard" class="btn btn-primary">Back to List</a> *@
                    </div>
                </div>
                <!-- End of tab -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    <div class="modal-dialog" style="width:501px !important;margin:0 auto;">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h4 class="modal-title" id="delete-conformation">
                    Delete Confirmation
                </h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <div class="form-group">
                            <input type="hidden" asp-for="TblEvcPartners.EvcPartnerId" id="hdnId" />
                            <div class="col-sm-12">
                                <span>
                                    Are you sure you want to delete this EVC Partner?
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                        <input type="submit" asp-page-handler="Delete" class="btn btn-danger" value="Delete" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/NewLayout/assets/js/jquery.dataTables.min.js"></script>
<script src="~/NewLayout/vendor/jquery-ui/jquery-ui.js"></script>
<script src="~/NewLayout/assets/js/exportTable.js"></script>

<script type="text/javascript">
    $(window).on('pageshow', function () {
        $('.filters input[type="checkbox"]').prop('checked', false);
        $('.filterbox').hide();
    });
    //variable declaration
    var table = null;
    var table1 = null;
    //Document (Page Load) ready Function Call
    $(document).ready(function () {
        //Date Picker
        $("#orderStartDate").datepicker({
            defaultDate: null,
            onSelect: function (selectedDate) {
                $("#orderEndDate").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#orderEndDate").datepicker({
            defaultDate: null,
        });
        //Hide Filters Dive
        $('.filters').hide();
        //Table Count 1 Start
        var url_NotApprovePartner = "@URLPrefixforProd/api/EVCList/GetEVC_NotApprovePartnerList";
        var url_ApprovePartner = "@URLPrefixforProd/api/EVCList/GetEVC_ApprovePartnerList";

        DataTableNotApprovePartner(url_NotApprovePartner);
        DataTableApprovePartner(url_ApprovePartner);


       


    });

    //Filter Close Button Click Event
    $('#btnCloseFilter').click(function () {
        $('#orderStartDate').val("");
        $('#orderEndDate').val("");
        $('#phoneNo').val("");
        $('#custState').val("");
        $('#custCity').val("");
        $('#custPin').val("");
        $('#evcregdNo').val("");
        $('#evcstorecode').val("");
        // Unchecks it
        $('.filters input[type="checkbox"]').prop('checked', false);
        $('.filterbox').hide();
        CommonFilter();
    });

    //Check Box Date Range change Event
    $("#chkOrderDateRange").click(function () {
        if (!this.checked) {
            $('#orderStartDate').val("");
            $('#orderEndDate').val("");
        }
    });



    //Check Box Phone Number change Event
    $("#chkPhoneNo").click(function () {
        if (!this.checked) {
            $('#phoneNo').val("");
        }
    });
    //Check Box Customer State change Event
    $("#chkCustState").click(function () {
        if (!this.checked) {
            $('#custState').val("");
        }
    });

    //Check Box Customer City change Event
    $("#chkCustCity").click(function () {
        if (!this.checked) {
            $('#custCity').val("");
        }
    });

    //Check Box Customer City change Event
    $("#chkCustPin").click(function () {
        if (!this.checked) {
            $('#custPin').val("");
        }
    });

    //Check Box EVCRegd Number change Event
    $("#chkevcregdNo").click(function () {
        if (!this.checked) {
            $('#evcregdNo').val("");
        }
    });

    //Check Box EVCStoreCode change Event
    $("#chkevcstorecode").click(function () {
        if (!this.checked) {
            $('#evcstorecode').val("");
        }
    });

    // Follow-up list multi Search Filter
    $('#btnFilter').click(function () {
        CommonFilter();
    });

    //This Datatable function is calling for Method
    function DataTableNotApprovePartner(url) {
        table = $('#EVC_PartnerNotApproveDatatable').DataTable({
            "order": [[0, 'desc']],
            "processing": true,
            "serverSide": true,
            "scrollX": true,
            "filter": true,
            "searching": false,
            "dom": 'Bfrtlp',
            "buttons": [
                {
                    text: '<button class="btn btn-primary datatablebtn" id="filterboxbtnright"><i class="fa-solid fa-filter"></i></button>',
                    action: function (e, dt, node, config) {
                        $('.filters').toggle();
                        //$('.content').toggleClass('maincontent');
                        //$('.filters').insertBefore('table.dataTable');
                    }
                },
                {
                    extend: 'excel', text: '<div class="exportbtnwrapper"><button class="btn btn-primary" id="exportbtn"><i class="fa-solid fa-download"></i> Download Excel</button></div>', id: "exportbtn",
                    title: 'EVC_Partner Not Approve List',
                    action: newexportaction,
                    exportOptions: {
                        modifier: {
                            // DataTables core
                            order: 'index',  // 'current', 'applied', 'index',  'original'
                            page: 'all',      // 'all',     'current' for export all pages data
                            search: 'none'     // 'none',    'applied', 'removed'
                        },
                        columns: ':not(.notexport)'
                    }
                }
            ],
            "oLanguage": {
                "sEmptyTable": "No Data found"
            },
            "ajax": {
                "url": url,
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": true
            }],

            "responsive": true,
            "columns": [
                { "data": "evcPartnerId", "name": "EvcPartnerId", "autoWidth": true, "orderable": false },
                { "data": "action", "name": "Action", "autoWidth": true, "orderable": false },
                { "data": "evcregdNo", "name": "EvcregdNo", "autoWidth": true, "orderable": false },
                { "data": "evcStoreCode", "name": "EvcStoreCode", "autoWidth": true, "orderable": false },
                { "data": "bussinessName", "name": "BussinessName", "autoWidth": true, "orderable": false },
                { "data": "stateName", "name": "StateName", "autoWidth": true, "orderable": false },
                { "data": "cityName", "name": "CityName", "autoWidth": true, "orderable": false },
                { "data": "pinCode", "name": "PinCode", "autoWidth": true, "orderable": false },
                // { "data": "name", "name": "Name", "autoWidth": true, "orderable": false },
                { "data": "address", "name": "Address", "autoWidth": true, "orderable": false },
                { "data": "date", "name": "Date", "autoWidth": true, "orderable": false },
            ]
        });
    }
    //This Datatable function is calling for Method
    function DataTableApprovePartner(url) {
        table1= $('#EVC_PartnerApproveDatatable').DataTable({
            "order": [[0, 'desc']],
            "processing": true,
            "serverSide": true,
            "scrollX": true,
            "filter": true,
            "searching": false,
            "dom": 'Bfrtlp',
            "buttons": [
                {
                    text: '<button class="btn btn-primary datatablebtn" id="filterboxbtnright"><i class="fa-solid fa-filter"></i></button>',
                    action: function (e, dt, node, config) {
                        $('.filters').toggle();
                        //$('.content').toggleClass('maincontent');
                        //$('.filters').insertBefore('table.dataTable');
                    }
                },
                {
                    extend: 'excel', text: '<div class="exportbtnwrapper"><button class="btn btn-primary" id="exportbtn"><i class="fa-solid fa-download"></i> Download Excel</button></div>', id: "exportbtn",
                    title: 'EVC Partner Approve List',
                    action: newexportaction,
                    exportOptions: {
                        modifier: {
                            // DataTables core
                            order: 'index',  // 'current', 'applied', 'index',  'original'
                            page: 'all',      // 'all',     'current' for export all pages data
                            search: 'none'     // 'none',    'applied', 'removed'
                        },
                        columns: ':not(.notexport)'
                    }
                }
            ],
            "oLanguage": {
                "sEmptyTable": "No Data found"
            },
            "ajax": {
                "url": url,
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": true
            }],

            "responsive": true,
            "columns": [
                { "data": "evcPartnerId", "name": "EvcPartnerId", "autoWidth": true, "orderable": false },
                { "data": "action", "name": "Action", "autoWidth": true, "orderable": false },
                { "data": "evcregdNo", "name": "EvcregdNo", "autoWidth": true, "orderable": false },
                { "data": "evcStoreCode", "name": "EvcStoreCode", "autoWidth": true, "orderable": false },
                { "data": "bussinessName", "name": "BussinessName", "autoWidth": true, "orderable": false },
                { "data": "stateName", "name": "StateName", "autoWidth": true, "orderable": false },
                { "data": "cityName", "name": "CityName", "autoWidth": true, "orderable": false },
                { "data": "pinCode", "name": "PinCode", "autoWidth": true, "orderable": false },
                // { "data": "name", "name": "Name", "autoWidth": true, "orderable": false },
                { "data": "address", "name": "Address", "autoWidth": true, "orderable": false },
                { "data": "date", "name": "Date", "autoWidth": true, "orderable": false },
            ]
        });
    }

    function GetURLData(orderStartDate = null, orderEndDate = null, phoneNo = null, custState = null, custCity = null, custPin = null, evcregdNo = null, evcstorecode = null) {
        var urlData = "";
        if (orderStartDate != null && orderEndDate != null) {
            urlData += '&orderStartDate=' + orderStartDate + '&orderEndDate=' + orderEndDate;
        }
        if (phoneNo != null) {
            urlData += '&phoneNo=' + phoneNo;
        }
        if (custState != null) {
            urlData += '&custState=' + custState;
        }
        if (custCity != null) {
            urlData += '&custCity=' + custCity;
        }
        if (custPin != null) {
            urlData += '&custPin=' + custPin;
        }
        if (evcregdNo != null) {
            urlData += '&evcregdNo=' + evcregdNo;
        }
        if (evcstorecode != null) {
            urlData += '&evcstorecode=' + evcstorecode;
        }
        return urlData;
    }

    //Filter Function
    function CommonFilter() {
        var orderStartDate = $('#orderStartDate').val();
        orderStartDate = $('#orderStartDate').val() == "" ? null : $('#orderStartDate').val();
        var orderEndDate = $('#orderEndDate').val();
        orderEndDate = $('#orderEndDate').val() == "" ? null : $('#orderEndDate').val();

        var phoneNo = $('#phoneNo').val();
        phoneNo = $('#phoneNo').val() == "" ? null : $('#phoneNo').val();

        var custState = $('#custState').val();
        custState = $('#custState').val() == "" ? null : $('#custState').val();

        var custCity = $('#custCity').val();
        custCity = $('#custCity').val() == "" ? null : $('#custCity').val();

        var custPin = $('#custPin').val();
        custPin = $('#custPin').val() == "" ? null : $('#custPin').val();

        var evcregdNo = $('#evcregdNo').val();
        evcregdNo = $('#evcregdNo').val() == "" ? null : $('#evcregdNo').val();

        var evcstorecode = $('#evcstorecode').val();
        evcstorecode = $('#evcstorecode').val() == "" ? null : $('#evcstorecode').val();

        var urlData = GetURLData(orderStartDate, orderEndDate, phoneNo, custState, custCity, custPin, evcregdNo, evcstorecode);

        var url_NotApprovePartner = "@URLPrefixforProd/api/EVCList/GetEVC_NotApprovePartnerList?" + urlData;
        var url_ApprovePartner = "@URLPrefixforProd/api/EVCList/GetEVC_ApprovePartnerList?" + urlData;

        // Destroy the existing DataTable
        table = $('#EVC_PartnerNotApproveDatatable').DataTable();
        // Destroy the existing DataTable
        table.clear().destroy();
        //Re-Initialize Datatable
        DataTableNotApprovePartner(url_NotApprovePartner);

        // Destroy the existing DataTable
        table1 = $('#EVC_PartnerApproveDatatable').DataTable();
        // Destroy the existing DataTable
        table1.clear().destroy();
        //Re-Initialize Datatable
        DataTableApprovePartner(url_ApprovePartner);

        $('.filters').hide();
    }
</script>
<script>
    //All Data Export--
    function newexportaction(e, dt, button, config) {
        var self = this;
        var oldStart = dt.settings()[0]._iDisplayStart;
        dt.one('preXhr', function (e, s, data) {
            // Just this once, load all data from the server...
            data.start = 0;
            data.length = 2147483647;
            dt.one('preDraw', function (e, settings) {
                // Call the original action function
                if (button[0].className.indexOf('buttons-copy') >= 0) {
                    $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                    $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                }
                dt.one('preXhr', function (e, s, data) {
                    // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                    // Set the property to what it was before exporting.
                    settings._iDisplayStart = oldStart;
                    data.start = oldStart;
                });
                // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                setTimeout(dt.ajax.reload, 0);
                // Prevent rendering of the full data to the DOM
                return false;
            });
        });
        // Requery the server with the new one-time export settings
        dt.ajax.reload();
    };
                //For Export Buttons available inside jquery-datatable "server side processing" - End

</script>
<script>
    //Delete EVC
    function deleteConfirm(_EvcregistrationId) {
        $('#hdnId').val(_EvcregistrationId);
        CheckAvailability(_EvcregistrationId);
    }

    function CheckAvailability(_EvcregistrationId) {      
        $.ajax({
            type: "POST",
            url: "@Url.Page("EVC_PartnerListforAdmin", "CheckOrder")",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: { evcregistrationId: _EvcregistrationId },
            success: function (response) {
                if (response == false || response == "False" || response == "false") {
                    $('#delete-conformation').modal('show');
                } else {
                    Swal.fire({
                        title: 'Deleted Failed',
                        text: 'Please clear the bucket orders in order to get the new ones',
                        icon: 'warning',
                        confirmButtonText: 'Ok',
                        customClass: {
                            confirmButton: 'btn btn-dark'
                        }
                    });
                }
            },
        });
    }
    $('#nav-home-tab1').click(function () {
        let table = $('#EVC_PartnerNotApproveDatatable').DataTable();
        table.ajax.reload();
    })
    $('#nav-home-tab2').click(function () {
        let table = $('#EVC_PartnerApproveDatatable').DataTable();
        table.ajax.reload();
    })
</script>